@charset "UTF-8";
/* Указываем box sizing */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0; }

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0; }

/* Выставляем основные настройки по-умолчанию для body */
body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.2; }

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
  -webkit-margin-before: 0px;
          margin-block-start: 0px;
  -webkit-margin-after: 0px;
          margin-block-end: 0px;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px; }

li {
  display: inline-block; }

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto; }

a {
  text-decoration: none;
  display: inline-block;
  color: inherit; }

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block; }

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit; }

textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

html {
  font-size: 14px; }

body {
  background-color: #eef3f5;
  color: #131313;
  font-family: 'Roboto', sans-serif; }

a {
  color: #009adf; }

h2 {
  font-size: 24px; }
  @media only screen and (max-width: 768px) {
    h2 {
      text-align: center; } }

img {
  margin: auto; }

.row-m-t {
  margin-top: 40px; }

.btn {
  display: inline-block;
  padding: 20px 30px;
  background-color: #009adf;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  margin: 30px 0; }
  .btn-primary {
    border-bottom: 5px solid #0077ac; }
    .btn-primary:hover {
      background-color: #00acf9; }

.slick-active {
  outline: none; }

ul {
  padding: 0; }

@font-face {
  font-family: 'fontello';
  src: url("../fonts/fontello.eot?59997830");
  src: url("../fonts/fontello.eot?59997830#iefix") format("embedded-opentype"), url("../fonts/fontello.woff2?59997830") format("woff2"), url("../fonts/fontello.woff?59997830") format("woff"), url("../fonts/fontello.ttf?59997830") format("truetype"), url("../fonts/fontello.svg?59997830#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?59997830#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-facebook:before {
  content: '\f09a'; }

/* '' */
.icon-menu:before {
  content: '\f0c9'; }

/* '' */
.icon-instagram:before {
  content: '\f16d'; }

/* '' */
.icon-vkontakte:before {
  content: '\f189'; }

/* '' */
.top-nav {
  margin-top: 40px;
  padding: 15px;
  background-color: #fff;
  position: relative; }
  .top-nav__btn {
    display: none;
    width: 50px;
    height: 50px;
    border: none;
    background-color: transparent;
    font-size: 30px;
    position: absolute;
    top: -55px;
    right: 15px;
    cursor: pointer;
    outline: none; }
    @media only screen and (max-width: 768px) {
      .top-nav__btn {
        display: inline-block; } }
  .top-nav__menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
    .top-nav__menu li {
      display: inline-block; }
      .top-nav__menu li a {
        padding: 20px 0;
        font-weight: 700;
        text-transform: uppercase;
        color: #131313; }
        .top-nav__menu li a::after {
          content: "";
          width: 100%;
          height: 2px;
          background-color: #009adf;
          display: block;
          -webkit-transform: translateY(38px) scale(0);
              -ms-transform: translateY(38px) scale(0);
                  transform: translateY(38px) scale(0);
          -webkit-transition: all .2s;
          -o-transition: all .2s;
          transition: all .2s; }
        .top-nav__menu li a:hover::after {
          -webkit-transform: translateY(38px) scale(1);
              -ms-transform: translateY(38px) scale(1);
                  transform: translateY(38px) scale(1); }
    @media only screen and (max-width: 768px) {
      .top-nav__menu {
        -webkit-transform-origin: top;
            -ms-transform-origin: top;
                transform-origin: top;
        -webkit-transform: scaleY(0);
            -ms-transform: scaleY(0);
                transform: scaleY(0);
        height: 0;
        text-align: right;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column; }
        .top-nav__menu li {
          display: block; }
          .top-nav__menu li a {
            padding: 15px 0;
            margin-right: 0; }
        .top-nav__menu.active {
          -webkit-transform: scaleY(1);
              -ms-transform: scaleY(1);
                  transform: scaleY(1);
          height: 100%; } }

.left-sidebar {
  margin-top: 40px; }
  .left-sidebar__btn {
    display: none;
    width: 100%;
    margin: 20px 0;
    outline: none;
    position: relative;
    text-align: left;
    cursor: pointer; }
    .left-sidebar__btn::after {
      content: "";
      display: inline-block;
      position: absolute;
      margin-top: -10px;
      top: 50%;
      right: 25px;
      width: 15px;
      height: 15px;
      border-bottom: 2px solid #fff;
      border-right: 2px solid #fff;
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg); }
    @media only screen and (max-width: 768px) {
      .left-sidebar__btn {
        display: block; } }
  .left-sidebar__menu {
    background-color: #fff;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }
    .left-sidebar__menu li {
      display: block;
      line-height: 1.25;
      color: #131313;
      font-size: calc( 0.00215 * 100vw + 13.24731px); }
      .left-sidebar__menu li a {
        -webkit-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s;
        width: 100%;
        padding: 15px 30px;
        color: #131313; }
        .left-sidebar__menu li a:hover {
          background-color: #009adf;
          color: #fff; }
    @media only screen and (max-width: 768px) {
      .left-sidebar__menu {
        -webkit-transform-origin: top;
            -ms-transform-origin: top;
                transform-origin: top;
        -webkit-transform: scaleY(0);
            -ms-transform: scaleY(0);
                transform: scaleY(0);
        height: 0; }
        .left-sidebar__menu li a {
          padding: 10px 10px; }
        .left-sidebar__menu.active {
          -webkit-transform: scaleY(1);
              -ms-transform: scaleY(1);
                  transform: scaleY(1);
          height: 100%; } }
  .left-sidebar__objects {
    margin-top: 30px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    @media only screen and (max-width: 768px) {
      .left-sidebar__objects {
        display: none; } }
  .left-sidebar__item {
    width: 100%; }
  .left-sidebar__decription {
    padding: 20px; }
    .left-sidebar__decription h3 {
      font-size: 18px;
      text-transform: uppercase;
      font-weight: 400;
      margin-bottom: 30px; }
    .left-sidebar__decription p {
      line-height: 1.43;
      margin-bottom: 25px; }

.content {
  margin: 40px 0 30px; }
  .content h2 {
    margin-bottom: 35px; }
  .content p {
    line-height: 1.45;
    margin-bottom: 10px; }

.directions h2 {
  margin: 35px 0; }

.directions__item {
  background-color: #fff;
  height: 220px;
  width: auto;
  text-align: center;
  margin: 30px 15px; }
  .directions__item h3 {
    color: #009adf;
    padding: 15px 10px; }

.team {
  margin-top: 20px;
  text-align: center;
  font-weight: 400; }
  .team h4 {
    font-size: 18px;
    margin: 20px 0; }
  .team p {
    margin-bottom: 40px; }

.structure__card {
  padding: 15px;
  margin-bottom: 30px;
  min-height: 22rem;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; }
  .structure__card:hover {
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 1, 0.1);
            box-shadow: 0 5px 10px rgba(0, 0, 1, 0.1);
    cursor: pointer; }

.structure h3 {
  color: #009adf;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 10px; }

.structure__small {
  color: #666666; }

.contacts {
  font-size: 16px; }
  .contacts__tel img {
    display: inline-block;
    width: 20px;
    margin-right: 12px;
    vertical-align: middle; }
  .contacts__email {
    margin: 15px 0; }
    .contacts__email img {
      display: inline-block;
      width: 20px;
      margin-right: 12px;
      vertical-align: middle; }
  .contacts__adress {
    color: #009adf; }
  .contacts__btn {
    width: 40%; }
    @media only screen and (max-width: 768px) {
      .contacts__btn {
        width: 100%; } }
  .contacts__socials li {
    display: inline-block; }
    .contacts__socials li a {
      width: 42px;
      height: 42px;
      color: #fff;
      background-color: #009adf;
      border-radius: 50%;
      text-align: center;
      line-height: 42px;
      margin-left: 10px;
      -webkit-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s; }
      .contacts__socials li a:hover {
        background-color: rgba(255, 255, 255, 0.8);
        color: #131313; }
  @media only screen and (max-width: 768px) {
    .contacts__socials {
      text-align: center; } }

.footer {
  margin-top: 60px;
  background-color: #131313;
  color: #666666;
  padding-top: 60px; }
  .footer__copy p {
    margin-bottom: 12px; }
  .footer__copy a {
    color: #666666; }
  .footer__copy-small {
    margin-top: 40px;
    font-size: 10px; }
  @media only screen and (max-width: 768px) {
    .footer__copy {
      text-align: center;
      height: 200px; } }
  .footer__menu li {
    display: block;
    margin-bottom: 15px; }
    .footer__menu li a {
      color: #666666; }
  @media only screen and (max-width: 768px) {
    .footer__menu {
      height: 280px; } }
  .footer__contacts {
    text-align: right; }
    .footer__contacts-phone {
      font-size: 20px; }
    .footer__contacts-adress {
      margin: 30px 0; }
      .footer__contacts-adress p {
        margin-bottom: 14px; }
    .footer__contacts-email {
      color: #666666; }
    @media only screen and (max-width: 768px) {
      .footer__contacts {
        text-align: center; } }
  .footer__socials {
    text-align: right;
    margin-top: 20px; }
    .footer__socials li {
      display: inline-block; }
      .footer__socials li a {
        width: 42px;
        height: 42px;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 50%;
        text-align: center;
        line-height: 42px;
        margin-left: 10px;
        -webkit-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s; }
        .footer__socials li a:hover {
          background-color: rgba(255, 255, 255, 0.8);
          color: #131313; }
    @media only screen and (max-width: 768px) {
      .footer__socials {
        text-align: center; } }
