@charset "UTF-8";
/* Указываем box sizing */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0; }

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0; }

/* Выставляем основные настройки по-умолчанию для body */
body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.2; }

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
  -webkit-margin-before: 0px;
          margin-block-start: 0px;
  -webkit-margin-after: 0px;
          margin-block-end: 0px;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px; }

li {
  display: inline-block; }

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto; }

a {
  text-decoration: none;
  display: inline-block;
  color: inherit; }

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block; }

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit; }

textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

html {
  font-size: 14px; }

body {
  background-color: #eef3f5;
  color: #131313;
  font-family: 'Roboto', sans-serif; }

a {
  color: #009adf; }

h2 {
  font-size: 24px; }

.btn {
  display: inline-block;
  padding: 20px 30px;
  background-color: #009adf;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  margin: 30px 0; }
  .btn-primary {
    border-bottom: 5px solid #0077ac; }
    .btn-primary:hover {
      background-color: #00acf9; }

.slick-active {
  outline: none; }

.top-nav {
  margin-top: 40px;
  padding: 15px;
  background-color: #fff; }
  .top-nav__menu a {
    margin-right: 45px;
    padding: 20px 0;
    font-weight: 700;
    text-transform: uppercase;
    color: #131313; }
    .top-nav__menu a::after {
      content: "";
      width: 100%;
      height: 2px;
      background-color: #009adf;
      display: block;
      -webkit-transform: translateY(38px) scale(0);
          -ms-transform: translateY(38px) scale(0);
              transform: translateY(38px) scale(0);
      -webkit-transition: all .2s;
      -o-transition: all .2s;
      transition: all .2s; }
    .top-nav__menu a:hover::after {
      -webkit-transform: translateY(38px) scale(1);
          -ms-transform: translateY(38px) scale(1);
              transform: translateY(38px) scale(1); }

.left-sidebar {
  margin-top: 40px; }
  .left-sidebar__menu {
    background-color: #fff; }
    .left-sidebar__menu li {
      display: block;
      line-height: 1.25;
      font-size: 16px;
      color: #131313; }
      .left-sidebar__menu li a {
        -webkit-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s;
        width: 100%;
        padding: 15px 30px;
        color: #131313; }
        .left-sidebar__menu li a:hover {
          background-color: #009adf;
          color: #fff; }
  .left-sidebar__objects {
    margin-top: 30px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .left-sidebar__item {
    width: 100%; }
  .left-sidebar__decription {
    padding: 20px; }
    .left-sidebar__decription h3 {
      font-size: 18px;
      text-transform: uppercase;
      font-weight: 400;
      margin-bottom: 30px; }
    .left-sidebar__decription p {
      line-height: 1.43;
      margin-bottom: 25px; }

.content {
  margin: 40px 0 30px; }
  .content h2 {
    margin-bottom: 35px; }
  .content p {
    line-height: 1.45;
    margin-bottom: 10px; }

.directions h2 {
  margin: 35px 0; }

.directions__item {
  background-color: #fff;
  height: 220px;
  width: auto;
  text-align: center;
  margin: 30px 15px; }
  .directions__item h3 {
    color: #009adf;
    padding: 15px 10px; }
